//color variables
$first-color: #fafafa;
$second-color: #3897f0;
$third-color: #fff;
$fourth-color: rgba(0, 0, 0, 0.3);

//measures variables
$zero: 0; 

.text-center{
    .form-signin{
        #inputEmail{
            margin-top: 3em;
        }
        #inputPassword{
            margin-right: 1.45em;
        }
    }
}