<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Incluir Certificado</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/certificado.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div align="right" class="student-name">
        <label><%= aluno %></label>
    </div>
    <div align="left" class="logo">
      <img src="logo_UTFPR.jpg" width="200">
    </div>

    <div class="arquivo">
        <label class="bold">Certificado</label></br>
        <input btn-outline-dark" type="file">
    </div>

    <div class="categoria">
        <label class="bold">Categoria</label></br>
        <select id="assunto" class="subject" name="assunto">
            <option>Grupo 1</option>
            <option>Grupo 2</option>
            <option>Grupo 3</option>
        </select> 
        <button class="btn btn-outline-dark" type="submit">Enviar</button>
    </div>

    <footer>
      <p class="mt-5 mb-3 text-muted">&copy;2018</p>
    </footer>
  </body>
</html>
