.text-center .sair {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em; }
  .text-center .sair .btn {
    padding: 0.375rem 1.75rem; }

.text-center .container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc; }
  .text-center .container a {
    color: black; }

.text-center .tabela {
  margin-top: 5em; }

.text-center .switch {
  font-size: 1rem;
  position: relative; }
  .text-center .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0; }
    .text-center .switch input + label {
      position: relative;
      min-width: calc(calc(2.375rem * .8) * 2);
      border-radius: calc(2.375rem * .8);
      height: calc(2.375rem * .8);
      line-height: calc(2.375rem * .8);
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem); }
    .text-center .switch input + label::before,
    .text-center .switch input + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(calc(2.375rem * .8) * 2);
      bottom: 0;
      display: block; }
    .text-center .switch input + label::before {
      right: 0;
      background-color: #dee2e6;
      border-radius: calc(2.375rem * .8);
      transition: 0.2s all; }
    .text-center .switch input + label::after {
      top: 2px;
      left: 2px;
      width: calc(calc(2.375rem * .8) - calc(2px * 2));
      height: calc(calc(2.375rem * .8) - calc(2px * 2));
      border-radius: 50%;
      background-color: white;
      transition: 0.2s all; }
    .text-center .switch input:checked + label::before {
      background-color: #08d; }
    .text-center .switch input:checked + label::after {
      margin-left: calc(2.375rem * .8); }
    .text-center .switch input:focus + label::before {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25); }
    .text-center .switch input:disabled + label {
      color: #868e96;
      cursor: not-allowed; }
    .text-center .switch input:disabled + label::before {
      background-color: #e9ecef; }
  .text-center .switch.switch-sm {
    font-size: 0.875rem; }
    .text-center .switch.switch-sm input + label {
      min-width: calc(calc(1.9375rem * .8) * 2);
      height: calc(1.9375rem * .8);
      line-height: calc(1.9375rem * .8);
      text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem); }
    .text-center .switch.switch-sm input + label::before {
      width: calc(calc(1.9375rem * .8) * 2); }
    .text-center .switch.switch-sm input + label::after {
      width: calc(calc(1.9375rem * .8) - calc(2px * 2));
      height: calc(calc(1.9375rem * .8) - calc(2px * 2)); }
    .text-center .switch.switch-sm input:checked + label::after {
      margin-left: calc(1.9375rem * .8); }
  .text-center .switch + .switch {
    margin-left: 1rem; }

.bold {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 0.7em; }
